<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onErrorHeaderShowBefore" fire="QUI\Redirect\EventHandler::onErrorHeaderShow"/>

    <event on="onSiteDeleteBefore" fire="QUI\Redirect\EventHandler::onSiteDelete"/>

    <!-- We use this earlier deactivate event to get the site's status before being deactivated (status set to 0) -->
    <event on="onSiteCheckDeactivate" fire="QUI\Redirect\EventHandler::onSiteDeactivate"/>

    <event on="onSiteMoveBefore" fire="QUI\Redirect\EventHandler::onSiteMoveBefore"/>
    <event on="onSiteMove" fire="QUI\Redirect\EventHandler::onSiteMoveAfter"/>

    <event on="onSiteSaveAjaxBegin" fire="QUI\Redirect\EventHandler::onSiteSaveAjaxBegin"/>
    <event on="onSiteSaveAjaxEnd" fire="QUI\Redirect\EventHandler::onSiteSaveAjaxEnd"/>

    <event on="onAdminLoadFooter" fire="QUI\Redirect\EventHandler::onAdminLoadFooter"/>
</events>
