<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onErrorHeaderShowBefore" fire="QUI\Redirect\EventHandler::onErrorHeaderShow"/>

    <event on="onSiteDeleteBefore" fire="QUI\Redirect\EventHandler::onSiteDelete"/>

    <event on="onSiteDeactivate" fire="QUI\Redirect\EventHandler::onSiteDeactivate"/>

    <event on="onSiteMoveBefore" fire="QUI\Redirect\EventHandler::onSiteMoveBefore"/>
    <event on="onSiteMove" fire="QUI\Redirect\EventHandler::onSiteMoveAfter"/>

    <event on="onSiteSaveBefore" fire="QUI\Redirect\EventHandler::onSiteSaveBefore"/>
    <event on="onSiteSave" fire="QUI\Redirect\EventHandler::onSiteSave"/>

    <event on="onPackageInstall" fire="QUI\Redirect\EventHandler::onInstall"/>

    <event on="onAdminLoadFooter" fire="QUI\Redirect\EventHandler::onAdminLoadFooter"/>
</events>