#add-redirect-apply-to-all-children {
    float: none;
}

#add-redirect-children-table {
    display: block;
}

#add-redirect-children {
    display: block;
}

.add-redirect-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.add-redirect-popup {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.add-redirect-popup label {
    display: block;
    margin-bottom: 10px;
}

.qui-controls-project-site-input {
    display: flex;
}

.add-redirect-popup input[type="text"],
.qui-controls-project-site-input input {
    width: 100%;
}

.add-redirect-popup input[type="text"],
.qui-controls-project-site-input {
    flex-shrink: 0;
    margin-bottom: 20px;
}

.qui-controls-project-site-input {
    margin-bottom: 10px;
}

.add-redirect-popup .redirect-note {
    font-size: 0.9rem;
    font-style: italic;
}

.add-redirect-popup .redirect-children-container {
    display: flex;
    margin-top: 10px;
    padding: 10px 0;
}

.add-redirect-popup .redirect-children-container label {
    cursor: pointer;
    margin-left: 10px;
}

.redirect-children-note label {
    cursor: pointer;
    margin-left: 10px;
}*/